/* ESTILOS GLOBALES */

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

:root{

 --fondo:#F3F5FC;  
 --azulOscuro: #0A3871;
 --blanco:white;
 --gris:gray;

}

.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: var(--fondo);
}

.logoPrincipal{
    position: absolute;
    top:20px;
    left: 20px;

}

.botonPrimario{
    color:white;
     background-color: var(--azulOscuro);
     width: 80%;
     height: 50px;
     border-radius: 20px;
     cursor: pointer;
     font-size: 1.8rem;
    
}

.botonSecundario{

    color:var(--azulOscuro);
    background-color: var(--blanco);
    width: 80%;
    height: 50px;
    border:2px solid var(--azulOscuro);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.8rem;
    
}

.botonSecundario1{

    color:var(--azulOscuro);
    background-color: var(--blanco);
    width: 80%;
    height: 50px;
    border:none;
    cursor: pointer;
    
}
button:hover{
    outline: none  !important;
}

.textArea{
    width: 100%;
    height: 10vh;
    background-color: var(--fondo);
    border: none;
    font-size: 1.8rem;

}

.textArea:hover{
   outline: none;

}





/* PAGINA PRINCIPAL  */

/*HEADER*/
.header{
    width: 100%;
    height: 45%;
}

/*CONTENEDOR*/
.contenedorPrincipal{
    width: 90%;
    height: 100%;
 
    margin: 0 auto;
}

/*BOTONES*/
.centrarBotones{
     display: flex;
     flex-direction: column;
     gap:30px;
     align-items:center;

}

.botonJugar{
    height: 80px;
    width: 100%;

}

.botonNueva{
    height: 65px;
    width: 70%;
}



/*PAGINA NUEVA PALABRA*/

.header__nuevaPalabra{
    width: 90%;
    height: 20%;
}

.textAreaPalabra{
    height: 50vh;
}

.botones{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.botonNuevo{
    width: 100%;


}

.mensajeNuevo{
    text-align: left;
    font-size: 1.2rem;
 

}


/*PAGINA JUEGO*/

.contenidoMain{
    height: 50vh;
 

}

.centrarNuevos{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
.boton2{
    width: 100%;
    margin: 0 auto;
}



.estilosGuion{
    border:none;
    border-bottom:5px solid var(--azulOscuro);
    background-color: var(--fondo);
    width:30px;
    margin-right: 20px;
    font-size: 2.6rem;
    margin-bottom:20px;
    margin-top:30px;
}

.letra{
    margin-right: 20px;
}

#dibujarCanvas{

}



.contenidoMain{
    display: grid;
    place-content: center;
}